@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Raleway");
header,
footer {
  background-color: #9a8c98;
  border-radius: 25px;
  padding: 15px;
  box-shadow: 1px 1px 5px #22223b;
}
header {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 50px;
  align-items: center;
}
body {
  background-color: #f2e9e4;
}

footer {
  text-align: center;
}
#picture_of_marisa {
  grid-column: 1;
  max-width: 85%;

  justify-self: end;
  box-shadow: 1px 1px 4px #22223b;
}
h1,
h2 {
  font-family: "Raleway", "Crimson Text", serif;
  text-shadow: 1px 1px 1.75px #22223b;
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 1.75em;
}
.content {
  max-width: 850px;
  margin: 0 auto;
  color: #001219;
}
p,
li {
  font-family: "Playfair Display", "Garamond", serif;
  font-size: 1.1em;
}
main {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#last_updated {
  color: #dee2ff;
}
