/* Small/Phone View ***************/
@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Ubuntu");
#mainHeader,
header,
nav,
main,
footer {
  margin: 0 auto;
}
header,
nav,
footer {
  text-align: center;
}

body {
  background-color: #8daeb9;
}
main {
  background-color: #d3d3d3;
  
  max-width: 94%;
  
  padding: 10px;
}
.home {
  display: grid;
  gap: 5px;
}

p {
  padding-left: 10px;
  padding-right: 10px;
}
.discoverImages{
  display: grid;
  text-align: center;
  grid-gap: 10px;
}
.discoverImages img {
  height: 80%;
  width: 90%;
  object-fit: cover;
  margin-top: 10px;
}
.discoverImages h4{
  margin: 0;
  padding-bottom: 20px;
}
 
#weather {
  max-width: 90%;
  max-height: 90%;
}
.weather {
  max-width: 92%;
}

.details {
  box-shadow: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}
.description {
  text-align: right;
  border-bottom: 1px solid black;
  margin-top: 0px;
  margin-bottom: 0px;
}

.spotlight {
  margin: 0 auto;
}
header,
footer {
  max-width: 96%;
  max-height: 18%;
}
#mainHeader,
footer {
  background-color: #b2714f;
  color: #f9f3dc;
}

.topFooter {
  border-bottom: 1px solid #f9f3dc;
  padding: 10px;
}
.spotlight img {
  max-width: 35%;
  max-height: 35%;
  padding: 10px;
  margin: 0 auto;
}
.call_to_action img {
  object-fit: cover;
  width: 100%;
}
.call_to_action {
  position: relative;
  text-align: center;
}

#welcome {
  position: absolute;
  top: 8px;
  left: 16px;
}
footer img {
  max-width: 150px;
}
span {
  padding: 10px;
}
#logo {
  margin-left: 1rem;
  max-width: 25%;
  float: left;
}
#logo img {
  max-width: 75%;
  padding: 5px;
}

#mainHeader {
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
h3 {
  margin-top: 10px;
  margin-bottom: 0px;
}

h1,
h2,
h3,
h4,
header li {
  font-family: "Ubuntu", "Crimson Text", serif;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
.date {
  min-width: 40%;
  margin-top: 0px;
  margin-bottom: 0px;
  justify-self: center;

  background-color: #c18d71;

  margin-right: 1.5rem;
}

h2 {
  font-size: 2em;
  text-shadow: 1px 1px 0.2px black;
  color: #42461d;
}
h3 {
  font-size: 1.5em;
  color: #42461d;
  text-shadow: 1px 1px 0.1px black;
}
h4,
li {
  font-size: 1.25em;
}
p {
  font-size: 1.02em;
  font-family: "Playfair Display", "Garamond", serif;
}
label {
  font-size: 1.1em;
  font-family: "Playfair Display", "Garamond", serif;

}
.call_to_action {
  position: relative;
  display: flex;
  min-height: 150px;
}
.call_to_action h2 {
  color: #f6eecb;
  text-align: left;
  display: inline;
}

button {
  padding: 10px;
  border-radius: 8px;
  box-shadow: 1px 1px 0.2px black;
  font-size: 1.2em;
}
.call_to_action button, #formbutton {
  bottom: 10px;
  margin: 5px;
  color: #f6eecb;
  background-color: #42461d;
  padding:10px;
  border-radius: 10px;
}
.call_to_action button{
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.join,
.event,
.spotlight,
.news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.join p {
  justify-self: center;
  align-self: center;
}
.join button {
  border-radius: 8px;
  color: #f6eecb;
  background-color: #42461d;

  margin: 0 auto;
  margin-top: 15px;
  width: 95%;
}

nav {
  border: 1px solid #f9f3dc;
}

main div {
  justify-self: center;
  text-align: center;
}
.home div {
  background-color: #c2c2c2;
  box-shadow: 1px 1px 1px black;
  width: 98%;
}
.banner {
  display: none;
}

header p {
  padding: 10px;
  margin: 0px;
}
.announcement {
  display: block;
  background-color: #42461d;
  color: #f6eecb;
  padding: 10px;
}
.announcement h3 {
  color: #f6eecb;
  font-size: 1.2em;
  
  margin: 0px;
}

.bottom {
  justify-content: center;
}
#spotlight3 {
  display: none;
}
.navigation {
  list-style: none;
  padding: 0;
}
.navigation li:first-child {
  display: block;
}
.navigation li {
  display: none;
}
.navigation a {
  display: block;
  padding: 0.75rem;
  text-align: center;
  text-decoration: none;
  color: #f9f3dc;
  font-weight: 700;
  transition: 0.5s;
}
header a,
footer a {
  color: #f9f3dc;
}
a {
  text-align: center;
  text-decoration: none;
}
main a {
  color: #b2714f;
}
.navigation a.ham::before {
  content: "☰ ";
}

.responsive li {
  display: block;
}

.responsive a.ham::before {
  content: "X ";
}
form {
  padding: 15px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 1em;
  background-color: #E0E0E0;
}

.content, form li{
  text-align: left;
  
}
.thankyou {
  margin:10px;
}
form input, form {
  justify-self: center;
}
form input:required {
  border-left : red solid 6px;
}


form input:required:valid {
  border-left: green solid 6px;
}
label, input {
  display: block;
}
.radio input, .radio label{
  display:inline;
  
}
.radio{
  text-align : left;
}
.cards{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  box-shadow: 1px 1px 5px black;
  margin: 10px;
  
}
.cards div{
  max-width: 100%;
}

.cards img{
  height: 100px;
  width: 200px;
  object-fit: contain;
  padding: 10px;
}
.cards h4{
  display: none;
}


.cards section{
  margin: 5px;
  box-shadow: 1px 1px 5px black;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  
}
table{
  width: 98%;
  justify-self: center; 
  
}
td {
  padding: 20px;
  
}
.buttons{
  display:flex;
  justify-content: center;
}

.listDisplay{
  display: none;
}
tr:nth-child(odd){
  background-color: #C6CCD2;
}
tr:nth-child(even){
  background-color: #F5F5F5;
}
@media (max-width: 32.5em) {
  td{
    padding: 10px;
    display: block;
  }
}
