/* Small/Phone View ***************/
@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Ubuntu");
#mainHeader,header, nav, main, footer {
   
    margin: 0 auto;
   
}
header, nav, footer {
    text-align: center;
}

body {
    background-color: #8DAEB9;
}
main{
    background-color: #D3D3D3;

    max-width: 95%;
    display: grid;
    gap: 5px;
    padding:10px
   
    
	
} 
p {
    padding-left: 10px;
    padding-right: 10px;
}
#weather {
    max-width: 95%;
    max-height: 95%;

} 
.weather{
    max-width: 92%;
}

.details{
    box-shadow: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    
    
}
.description {
    text-align: right;
    border-bottom:1px solid black;
    margin-top: 0px;
    margin-bottom: 0px;
}



.spotlight{
    margin: 0 auto;
  }
header, footer {
    max-width: 96%;
    max-height: 18%;
}
#mainHeader,  footer{
    background-color: #B2714F;
    color: #F9F3DC;
    
}

.topFooter {
    border-bottom: 1px solid #F9F3DC;
    padding: 10px;
}
main img{
    max-width: 35%;
    max-height: 35%;
    padding: 10px;
    margin: 0 auto;
}
footer img {
    max-width: 150px;
}
span {
    padding: 10px;
}
#logo{
    margin-left: 1rem;
    max-width: 40%;
    float: left;
}
#logo img{
    max-width: 100%;
}

#mainHeader {
    
    padding: 5px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	
}

footer {
    display: flex;
    flex-flow: column;
	align-items: center;
	justify-content: space-between;
    text-align: center;
}
h3{
    margin-top: 10px;
    margin-bottom: 0px;
}

h1, h2, h3, h4, li {
    font-family: "Ubuntu", "Crimson Text", serif;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    
}
.date {
   min-width: 40%;
    margin-top: 0px;
    margin-bottom: 0px;
   
    background-color: #C18D71;
    
    margin-right: 1.5rem;

}

h2{
    font-size: 2em;
    text-shadow: 1px 1px .2px black;
    color:#42461D;
    
}
h3{
    font-size: 1.5em;
    color:#42461D;
    text-shadow: 1px 1px .1px black;
}
h4, li {
    font-size: 1.25em;
}
p{
    
    font-size: 1.02em;
    font-family: "Playfair Display", "Garamond", serif;
}
.call_to_action{
    
  position: relative;
   display: flex;
   min-height: 150px;
    
}
.call_to_action h2{
    

    color: #F6EECB;
    text-align: left;
    display: inline;
    
  
}

button {
    padding: 10px;
    border-radius: 8px;
    box-shadow: 1px 1px .2px black;
    font-size: 1.2em;
}
.call_to_action button {
   
   
    
    position: absolute;
    bottom: 10px;
    right: 10px;
    margin: 5px;
 

    
    background-color:#F6EECB;
    color: #42461D;
   
}
.join, .event, .spotlight, .news{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.join p {
    justify-self: center;
    align-self: center;
}
.join button {
    border-radius: 8px;
    color:#F6EECB;
    background-color: #42461D;
    
    margin: 0 auto;
    margin-top: 15px;
    width: 95%;
}


nav {
	
    border:1px solid #F9F3DC;
    
}

main div{
    background-color: #C2C2C2;
   box-shadow:  1px 1px 1px black;
    width: 98%;
    justify-self: center;
    text-align: center;
    

}
.banner{
    display: none;

}
header p {
    padding: 20px;
}

.announcement {
    display:block;
    background-color: #42461D;
    color: #F6EECB; 
    padding: 10px;
}

.bottom {
    justify-content: center;
}
#spotlight3{
    display:none;
}
.navigation {
	list-style: none;
	padding: 0;
    
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
	color: #F9F3DC;
	font-weight: 700;
	transition: 0.5s;
	
}
header a, footer a {
    color: #F9F3DC;
} 
a{
    text-align: center;
	text-decoration: none;
}
main a{
    color:#B2714F
}
.navigation a.ham::before {
	content: "☰ ";
}



.responsive li {
	display: block;
}

.responsive a.ham::before {
	content: "X ";
}
