@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro");

header, nav, main, footer {
    max-width: 97%;
    margin: 0 auto;
}
nav {
	background-color: #FFF7F0;
	text-align: center;
	box-shadow: 0 0 10px #333;
  display: flex;
	flex-direction: column;
  padding: 0px;
  border-bottom: 2px solid #333c4c ;
  padding-top: 15px;

    
}


nav div {
	flex: 1 1 auto;
}

nav a {
	display: block;
	color: #3d4566;
	text-align: center;
	padding: 15px;
	text-decoration: none;
	font-size: 0.9rem;
}


@media (min-width: 37.5em) {
	nav {
		flex-direction: row;
	}
	
	nav a {
		font-size: 1.1rem;
	}
    .personas {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

}

@media (min-width: 48em) {
	nav a {
		font-size: 1.2rem;
	}
}

body {
    background-color: #333c4c;
}
main{
    background-color: #FFF7F0;
    display: flex;
	flex-flow: column;
	justify-content: center;
    align-items: center;
	
}

header, footer{
    background-color: #454446;
    color: #FFF7F0;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	
}

h1, h2, h3, h4, nav {
    font-family: "Playfair Display", "Crimson Text", serif;
 
    text-align: center;
    
}

h2{
    font-size: 2em;
    text-shadow: 1px 1px .2px black;
    
}
h3{
    font-size: 1.5em;
}
h4 {
    font-size: 1.25em;
}
p {
    padding: 20px;
    font-family: "Source Sans Pro", "Garamond", sans-serif;
}

img{
    max-width: 300px;
    padding: 10px;
}
.primary_color, .secondary_color, .accent_color1, .accent_color2{
  padding: 10px;
}
.primary_color {
    background-color: #FFF7F0;
}
.secondary_color {
    background-color: #3D4566;
    color: #FFF7F0;
}
.accent_color1{
    background-color: #6C75A0;
}
.accent_color2{
  background-color: #454446;
  color: #FFF7F0;
}
section {
    
    max-width: 80%;
    justify-self: center;
    align-self: center;
    margin: 0 auto;
    text-align: center;
}

