@import url("https://fonts.googleapis.com/css?family=Ubuntu");
tr:nth-child(odd){
    background-color: #C6CCD2;
}
tr:nth-child(even){
    background-color: #F5F5F5;
}

thead th, tfoot td, #highlight{
    background-color:#93A8AC;
}
#head:first-child{
    background-color: #9B6A6C;
    color: #FFFFFF;
    padding:10px;
    font-size: 1.5em;
}
table{
    margin: 0 auto;
    text-align: center;
    font-family: Ubuntu, sans-serif;
    box-shadow: 2px 2px 2px 1px black;

}
td, th {
    padding:10px
}
table, td, th{
    border: 1px solid black;
    border-collapse: collapse;
}
#blackfriday{
    font-style: italic;
}
